<div class="modal-inner">
	<% if flash[:notice] -%>
	<br>
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <%= flash[:notice] %>
  </div>
  <% end -%>
	<h1>Edit User</h1>

	<%= render 'form' %>

	<%- unless request.xhr? -%>
		<%= link_to 'Show', @user %> |
		<%= link_to 'Back' %>
	<% end -%>		

</div>
